altgraph==0.17.2
biopython==1.79
cffi==1.15.0
colorama==0.4.4
cryptography==35.0.0
cx-Freeze==6.8.2
cx-Logging==3.0
cycler==0.11.0
future==0.18.2
GridDataFormats==0.6.0
gsd==2.5.0
importlib-metadata==4.8.2
Jinja2==3.0.2
joblib==1.1.0
kiwisolver==1.3.2
MarkupSafe==2.0.1
matplotlib==3.4.3
MDAnalysis==2.0.0
mmtf-python==1.1.2
msgpack==1.0.2
networkx==2.6.3
Nuitka==0.6.17.6
numpy==1.21.4
pefile==2021.9.3
Pillow==8.4.0
pyarmor==7.0.2
pyarmor-webui==1.3.2
pycparser==2.21
pyinstaller==4.7
pyinstaller-hooks-contrib==2021.3
pyparsing==3.0.6
PySide2==5.15.2
python-dateutil==2.8.2
pytransform==0.2.1
pywin32==302
pywin32-ctypes==0.2.0
QDarkStyle==3.0.2
qt-material==2.8.13
QtPy==1.11.2
scipy==1.7.2
shiboken2==5.15.2
six==1.16.0
threadpoolctl==3.0.0
tqdm==4.62.3
zipp==3.6.0
